<div class="container" >
	<div id="top" class="navbar navbar-fixed-top">
		<!-- <div class="container"> -->

		<ol class="breadcrumb">
			<h2>Michael James Arbogast</h2>
		  <li><a href="#/#about" scroll-to="my-element-1" >About</a></li>
		  <li><a href="#/#projects">Projects</a></li>
		  <li><a href="#/#contact">Contact</a></li>
		</ol>
	</div> <!-- navbar -->
</div> <!-- container -->



	<div class="horizon background">
	  <div class="caption">
		 <span class="border">Hi! I'm Michael.</span>
	  </div>
	</div>

<div smooth-scroll></div>
	<div class="green background">
		<h4 id="about">I design and build websites from front-end to database, using Node.js, Express, Angular, and Django.</h4>
		<h4>I also create iOS apps using Swift.</h4>
	</div>
	<div class="blue background"
		<div class="information">
			<h1 id="projects" >a few of my projects:</h1>
			<div class="arranger col-md-12 col-sm-12">
				<div class="panel-default col-md-4 col-sm-6 col-xs-12">
					<div class="panel-heading">
						<img class="demo" src="./../static/Neighborhood-2.png" alt="an image of my project" />
					</div>
					<div class="panel-footer"><p><em>The Neighborhood</em>, a local social network using Twitter login to display recent tweets from the mile around your location.</p></div>
				</div>
				<div class="panel-default col-md-4 col-sm-6 col-xs-12">
					<div class="panel-heading">
						<img class="demo" src="./../static/Neighborhood-2.png" alt="an image of my project" />
					</div>
					<div class="panel-footer"><p><em>Sprog</em>, a language-learning flashcard website.</p></div>
				</div>
				<div class="panel-default col-md-4 col-sm-6 col-xs-12">
					<div class="panel-heading">
						<img class="demo" src="./../static/Neighborhood-2.png" alt="an image of my project" />
					</div>
					<div class="panel-footer"><em>Capture!</em>, a multiplayer real-life urban capture the flag game.</div>
				</div>

 		  </div>

	  </div> <!-- information -->
	</div>

	<div class="heel background">

	</div>

	<div style="position:relative;">
	  <div id="contact" class="spacer">
	    <p>Copyright 2016 Michael Arbogast.</p>
	  </div>
	</div>



</div>
